<div>
	<h1>{{highwayName}}</h1>
	<button class="btn btn-info" ng-click="showDescription()">Click to see the history</button>

	<div ng-show="highwayDescription">
		<p>The Lincoln Highway began in 1912 with seedling miles, or short, mile-sized pieces, to prove that paved roads were a worthy investment. These small sections made an impression, and the United States' first paved transcontinental highway was created. One might even say that this road paved the way for all others. Today, part of the highway is a designated National Scenic Byway, starting at Indiana's eastern border and heading west to the Mississippi River, passing historic sites, scenic trails, and ample opportunities for shopping and dining.</p>
	</div>
	<div col-xs-4 offset-xs-2>
		<button class="btn btn-warning" ng-click="goHome()">HOME</button>
	</div>
</div>